<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:insert="blocks/headParams :: headParams"><title>Addition Page</title></head>


<body>
<header th:insert="blocks/header :: header"></header>


<form th:action="@{/addPatient}" th:object="${patient}" th:method="POST">

    <div class="container" style="margin-top: 100px">
        <div class="form-group">
            <label for="name">Name</label><input type="text" class="form-control" id="name" th:field="*{name}">
            <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></small>
        </div>

        <div class="form-group">
            <label for="age">Age</label><input type="text" class="form-control" id="age" th:field="*{age}">
            <small th:if="${#fields.hasErrors('age')}" th:errors="*{age}" style="color: red"></small>
        </div>
        <div class="form-group">
            <!--            <label for="bloodType">Blood Type</label><input type="text" class="form-control" id="bloodType"   th:field="*{bloodType}">-->
            Blood type
            <select th:field="*{bloodType}" class="form-control" style="margin-top: 10px">
                <option th:value="'O+'">O+</option>
                <option th:value="'O-">O-</option>
                <option th:value="'A+'">A+</option>
                <option th:value="'A-'">A-</option>
                <option th:value="'B+'">B+</option>
                <option th:value="'B-'">B-</option>
                <option th:value="'AB+'">AB+</option>
                <option th:value="'AB-'">AB-</option>
            </select>
            <small th:if="${#fields.hasErrors('bloodType')}" th:errors="*{bloodType}" style="color: red"></small>
        </div>
        <div class="form-group">
            <label for="weight">Weight</label><input type="text" class="form-control" id="weight" th:field="*{weight}">
            <small th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}" style="color: red"></small>
        </div>
        <div class="form-group">
            <label for="height">Height</label><input type="text" class="form-control" id="height" th:field="*{height}">
            <small th:if="${#fields.hasErrors('height')}" th:errors="*{height}" style="color: red"></small>
        </div>
        <div class="form-group">
            <label for="Room Number">Room number</label><input type="text" class="form-control" id="Room Number"
                                                               th:field="*{roomNumber}">
            <small th:if="${#fields.hasErrors('roomNumber')}" th:errors="*{roomNumber}" style="color: red"></small>
        </div>
        <div class="form-group">
            <label for="Room Number">Year of Birth</label><input type="text" class="form-control" id="yearOfBirth"
                                                                 th:field="*{yearOfBirth}">
            <small th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}" style="color: red"></small>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <h3 th:text="${connectionStatus}" style="color: green; text-align: center"></h3>
    </div>


</form>


</body>
</html>




